.google-sans-mainclass, h1, ul {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:"GRAD" 0;
  margin: auto;
  display: block;
  width: fit-content;
  margin-top: 50px;
}

.google-sans-subclass, h1, ul {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"GRAD" 0;
  margin: auto;
  display: block;
  width: fit-content;
  margin-top: 50px;
}
/* NAVBAR STYLING START */
.navbar {
  top: 0;
  position: sticky;
  overflow: hidden;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
  display: flex;
}
.navbar li:first-child a {
  border-radius: 15px;
}
.navbar li:last-child a {
  border-radius: 15px;
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: fit-content;
  background-color: #0066CC;
  border-radius: 15px;
}

li a {
  display: block;
}

ul li a {
  display: flex;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #4394e5;
}
/* END OF NAVBAR STYLING */

/* FLEX CONATINERS FOR IMAGES AND TEXT */
.flex-container {
  display:flex;
  align-items: center;
  gap: 20px;
  margin: 40px 0;
}

.image {
  width: 300px;
  height: auto;

}

.text-container {
  flex: 1;
}

@media (max-width: 600px) {
  .flex-container {
    flex-direction: column; 
    text-align: center;     
  }
  
  .image {
    width: 100%;   
    max-width: 400px;
  }
}

/*  STYLING */

.flex-container-textonly{
  display: flex;
  align-items: stretch;
  gap: 40px;          
  margin: 50px auto;
  max-width: 900px;
}

.lefttext{
  text-align: left;
  flex: 1;
}

.righttext {
  flex: 1;  
  display: flex;
  flex-direction: column;         
  text-align: center; 
  align-content: center;
  justify-content: center; 
  border-left: 2px solid #111; 
  padding-left: 20px;
}

.righttext h2 {
  margin: 0;
  padding-right: 40px;
  width: 100%;
}
